* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
background: rgba(255, 255, 255, 0.40);
backdrop-filter: blur(125px);
}
.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.raxtop {
width: auto;
height: 5px;
}
.home {
  width: 100%;
  max-width: 1437px;
  position: relative;
}
.container .mainbox {
  width: 100%;
  height: 900px;
  background: url(bg1.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 0 0 57px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tch {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px ;
}
.container .box1 {
  width: 100%;
  height: 150px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lg {
  position: absolute;
  left: 50px;
}
.container .lg a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.container .lg a img {
  width: 37px;
  height: 64px;
}
.container .lg a .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.container .box1 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  transform: translateX(300px);
}
.container .box1 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.right_icon {
  cursor: pointer;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .box1 .nol {
  font-size: 8px;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  padding: 1px;
  border-radius: 10px;
  background-color: red;
}
.container .box2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px;
}
.container .box2 .gap {
  color: #fff;
}
.container .box2 .gap h3 {
  font-size: 40px;
  font-weight: 400;
}
.container .box2 .gap h1 {
  font-size: 64px;
  font-weight: 700;
}
.container .box2 p {
  width: 400px;
  color: #31546d;
  font-size: 16px;
  font-weight: 400;
}
.container .box2 .btns button {
  cursor: pointer;
  width: 180px;
  height: 56px;
  margin: 0 40px 0 0;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #317189;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.17);
}
.container .box2 .btns span {
  font-size: 16px;
  font-weight: 400;
  color: #317189;
}
.container .mmbox {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .mmbox .line {
  margin: 50px;
  cursor: pointer;
}
.container .ibox {
  width: 520px;
  height: 520px;
  background-color: #fff;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);
}
.container .ibox button {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 97px;
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #8a93e5;
  border: none;

  transform: translateY(-250px);
}
.rax {
  position: absolute;
  right: 220px;
  top: 400px;
}
.title1 .saran .guvon:hover {
  box-shadow: 1px 2px 3px 2px;
}
.container .ibox p {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}
.container .ibox p span {
  color: #317189;
  font-size: 20px;
  font-weight: 700;
}

.container .sroll {
  cursor: pointer;
  width: 121px;
  height: 38px;
  position: absolute;
  left: calc(50% - 121px / 2);
  bottom: 0;
}
.title1 {
  width: 100%;
  height: 1084px;
  padding: 60px 0 20px 0;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.line
.title1 .title2 {
  font-size: 46px;
  font-weight: 700;
  color: #31546d;
  text-align: center;
  margin: 50px;
}
.title1 .inputs {
  margin: 50px 0 50px 10px;
  display: flex;
  flex-wrap: nowrap;
}
.title1 .inputs .fs {
  cursor: pointer;
  margin: 0 100px 0 50px;
}
.title1 .inputs .fs label {
  cursor: pointer;
  color: #9ab0c0;
  font-size: 16px;
  font-weight: 700;
}
.title1 .inputs .fs .select {
  cursor: pointer;
  outline: none;
  color: #31546d;
  font-size: 16px;
  font-weight: 700;
}
.title1 .inputs select {
  border: none;
}
.saran {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.saran .guvon {
  width: 322px;
  height: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
  border: 2px solid var(--Gray-6, #f2f2f2);
  transition: all 0.5s;
}
.saran .guvon:hover {
 border-radius: 30px;
background: #FFF;

/* Drop Shadow */
box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);

}
.saran .guvon img {
  width: 198px;
  height: 198px;
}
.title1 .saran .guvon p {
  width: 270px;
  color: #31546d;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.title1 .saran .guvon p span {
  color: #317189;
  font-size: 20px;
  font-weight: 700;
}
.title1 .saran .guvon button {
  width: 180px;
  cursor: pointer;
  height: 56px;

  border-radius: 18px;
  background-color: #fff;
  transition: all 0.5s;
  border: 3px solid #75cceb;
  color: #75cceb;
  font-size: 14px;
  font-weight: 700;
}
.title1 .saran .guvon button:hover {
  color: #fff;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  box-shadow: 0px 3px 10px 10px rgba(112, 184, 251, 0.45);

}

.p3 {
  width: 100%;
  height: 1100px;
  position: relative;
  background: url(bg3.png);
  background-size: 100% 100%;
  background-color: skyblue;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box0 {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.p3 .veiw {
  cursor: pointer;
  width: 134px;
  height: 48px;
  background-color: #fff;
  border: 2px solid var(--1, #75cceb);
  border-radius: 18px;
  position: absolute;
  top: 50px;
  left: calc(50%  - 134px / 2);
}
.p3 h1 {
  width: 542px;
  font-size: 40px;
  font-weight: 400;
  color: #31546d;
}
.p3 .abbout h1 span {
  font-size: 64px;
  font-weight: 700;
}
.abbout {
  width: 542px;
  height: 348px;
  text-align: right;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 40px;
}
.p3 .price {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: right;
  gap: -50px;
}

.p3 .price p {
  color: #41a0b7;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-decoration-line: line-through;
}
.abbout .price h1 {
  width: 216px;
  color: #e35b3e;
  font-size: 70px;
  font-weight: 700;
  display: inline-block;
}
.abbout .these {
  width: 400px;
  color: #31546d;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.abbout button {
  cursor: pointer;
  border: none;
  width: 180px;
  height: 56px;
  padding: 10px;
  border-radius: 18px;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 700;
}
.bag_bcd {
  width: 45%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
}
.p3 .bag_bcd {
  background: url(yes.png);
  width: 700px;
  height: 700px;
}
.container .bottom {
  width: 100%;
  height: 200px;
  background-color: #31546d;
}