@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*, url(./img/un2.png)*/
.p1 {
	width: 100%;
	height: 700px;
	background-image: url(./img/un1.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.soc {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	position: relative;
	top: 20px;
}
.logobox, .mid, .boxcha {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logobox h1 {
color: #FFF;
text-align: center;
text-shadow: 0px 45px 49px rgba(140, 138, 198, 0.25);
font-family: 'TT Hoves Pro Trial', sans-serif;
font-size: 390px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}
.mid h3 {
color: #9898C6;
text-align: center;
font-family: 'TT Hoves Pro Trial', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.boxcha img {
	margin-top: 10px	;

}
.ccc {
	color: #9797C6;
text-align: center;
margin-bottom: 40px;
font-family: 'TT Hoves Pro Trial', sans-serif;

font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}
.mid {
	margin-top: 30px;
	flex-direction: column;
	gap: 40px;
}
.uni2 img {
	width: 100%;
text-align: center;
}
.p2 {
	width: 100%;
	height: 1300px;
	background-color: #9797c6;
	position:relative;
	top: 400px;
}
ul, .boxcha {
flex-direction: column;
}
.col1, .col2 {
	display: flex;
	flex-direction: row;
	gap: 30px;
	color: #9898C6;
text-align: center;
font-family: 'TT Hoves Pro Trial';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.boxcha {
	width: 261px;
height: 269px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
gap: 70px;
}
ul {
	gap: 30px;
	position: relative;
	top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.p1 .ser .h111 {
	color: #FFF;
text-align: center;
font-family: 'TT Hoves Pro Trial';
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
z-index: 999;
}
.any h1 {
	color: #FFF;
text-align: center;
font-family: 'TT Hoves Pro Trial';
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
	margin-top: 200px;
}
.any {
}

/* p3 */

.p3 {
	width: 100%;
	height: 1000px;
}
.uu {
	z-index: 9999	;
	color: #9797C6;
text-align: center;
font-family: 'TT Hoves Pro Trial';
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
position: relative;
top: 450px;
}

.tst{
gap: 40px;
position: relative;
top: 400px;


	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

}
.bx {
	width: 512px;
height: 192px;
flex-shrink: 0;
border-radius: 30px;
border: 1px solid #616194;
background: #FFF;
margin-bottom: 40px;
margin-top: 100px;
}
.h111 {
	
}
.bx h1 {
	color: #616194;
font-family: Poppins, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 24px; /* 150% */
margin-left: 50px;
margin-top: 10px;
}
.bx h4 {
	width: 412px;
	color: var(--Gray-1, #333);
font-family: Poppins, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
margin-left: 50px;
margin-top: 20px;
}
.stars {
	margin-left: 50px;
margin-top: 20px;
}

.a3 {
	margin-top: 150px;
    width: 100%;
    padding-bottom: 50px;
}

.center {
    justify-content: center;
    display: flex;
}

.contact {
 color: var(--Gray-3, #828282);
text-align: center;
font-family: Poppins, sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.boxend {
    height: 266px;
    width: 788px;
    display: flex;
    gap: 103px;
}

.boxend2 {
    padding-top: 30px;
}

.email {
    padding: 16px 0 16px 0;
    display: flex;
}

.only {
	position: relative;
	top: 30px;
}

input {
width: 374px;
height: 56px;
flex-shrink: 0;
border-radius: 61px;
background: #CECEF9;
    border: none;
    margin-bottom: 14px;
}

.cl {
    justify-content: center;
    display: flex;
}

.submit {
width: 168px;
height: 56px;
flex-shrink: 0;
border-radius: 61px;
border: 3px solid #616194;
background: #fff;
}

.end {
    width: 100%;
    height: 117px;
background: #454557;
}


