*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	height: 100vh;
}

.sinf-1 {
	width: 200px;
	height: 200px;
	background-color: green;
	text-transform: uppercase;
	font: 500 20px/1.2em Arial, sans-serif;
transition: 1s all;

}

span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;

}



.n1 {
	background-color: red;
}

.n2 {
	transform: translate(calc(200px - 20px));
	background-color: blue;

}

.sinf-1:hover .n1:nth-child(1) {
	animation: leftup 4S linear infinite;
}

.sinf-1:hover .n1:nth-child(2) {
	animation: leftup 4S linear infinite;
	animation-delay: 0.1s;
}

.sinf-1:hover .n1:nth-child(3) {
	animation: leftup 4S linear infinite;
	animation-delay: 0.2s;
}
.sinf-1:hover .n2:nth-child(4) {
	animation: rightup 4S linear infinite;

}
.sinf-1:hover .n2:nth-child(5) {
	animation: rightup 4S linear infinite;
	animation-delay: 0.1s;

}
.sinf-1:hover .n2:nth-child(6) {
	animation: rightup 4S linear infinite;
	animation-delay: 0.2s;

}

@keyframes leftup {
	0%, 100% {
		transform: translate(0);

	}
	25% {
		transform: translate(calc(200px - 20px), calc(200px - 20px));
	}
	50% {
		transform: translate(calc(200px - 20px), 0);
	}
	75% {
		transform: translate( 0, calc(200px - 20px));
	}
	100% {
		filter: hue-rotate(3600deg);
	}
	
}
@keyframes rightup {
	0%, 100% {
		transform: translate(calc(200px - 20px) );

	}
	25% {
		transform: translate(0, calc(200px - 20px));
	}
	50% {
		transform: translate(0, 0);
	}
	75% {
		transform: translate(calc(200px - 20px), calc(200px - 20px));
	}
100% {
		filter: hue-rotate(3600deg);
	}
}
.sinf-1::before,
.sinf-1::after {
 	content: "";
 	position: absolute;
 	z-index: -1;
 	left: 0;
 	right: 0;
 	top: 0;
 	bottom: 0;
 	width: 200px;
 	height: 200px;
 	background-color: blue;
 	transition: all 3s;
}
.sinf-1:hover::before {
	animation: anim1 4s linear infinite;
}
.sinf-1:hover::after {
	animation: anim1 4s linear infinite reverse;
}

.sinf-1::after {
	background-color: red;
}
@keyframes anim1 {
	0%, 100% {
		left: 0;
		top: 0;
	}

	25% {
		left: calc(100% - 200px);
		top: 0;
	}
	50% {
		left: calc(100% - 200px);
		top: calc(100% - 200px);
	}
	75% {
		top: calc(100% - 200px);
		left: 0;
	}	
	100% {
		filter: hue-rotate(3600deg);
	}
}

.box {
	height: 200px;
	width: 200px;
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;	
	font: 900 20px/1.2em Arial, sans-serif;
	color: #000;
	border-radius: 50%;
	background-color: #fff;
animation: a1 5s linear infinite;
}

@keyframes a1{
	100% {
		transform: rotate(360deg);
		filter: hue-rotate(3600deg);

	}
}







.tr{
	right: 0;
	width: 200px;
	height: 200PX;
	border-radius: 100px;
	color: blue;

}
.br {
	bottom: 0;
	height: 200PX;
	border-radius: 100px;
	color: red;

}
.bl {
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200PX;
	border-radius: 100px;
	color: yellow;
}
